.logo{
    width: 20px !important;
    height: auto !important;
}

.displayExtra{
    display: block !important;
}

@media screen and (min-width: 992px) {
    .displayExtra{
        display: none !important;
    }
}